# Local env files
.env
.env.*
!.env.example

# node_modules
node_modules/

# Astro artifacts
.astro/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS Files
.DS_Store
Thumbs.db
